.hidden {
    display: none;
}

/*---General Styles---*/

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
    color: #723622;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bungee", sans-serif;
}

/* Header Navigation Styles */

header {
    background-color: #C42B38;
    padding: 30PX;
}

.header-nav-ul {
    height: 302px;
    width: 100vw;
    padding-top: 33px;
    background-color: #FFFFFF;
    position: fixed;
    border-radius: 0 0 15px 15px;
    z-index: 2;
    top: 0;
    transform: translateY(-120%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s;
}

.opennav .header-nav-ul {
    transform: translateY(0)
}

/* .m-hidden {
    display: none;
} */


.header-nav-ul li {
    margin-bottom: 33px;
}

.header-nav-ul li a {
    color: #401E13;
    font-size: 1rem;
    text-transform: capitalize;
}

#header-logo object {
    height: 60px;
}

.burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#burger {
    padding: 15px;
    cursor: pointer;
}

.logo-desk {
    display: none;
}

/* Main Section Styles */
#main-img {
    text-align: center;
    margin-top: 30px;
}

.desk-hero {
    display: none;
}

.hero h2 {
    font-size: 1.25rem;
    text-align: center;
    line-height: 28px;
    letter-spacing: 10px;
    margin-top: 32px;
}

.button {
    text-align: center;
    margin: 0 auto;
    background-color: #C42B38;
    padding: 20px 64px;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 32px;
}

.desk-hidden {
    display: none;
}

.healthy-drinks {
    border: 1px solid #000000;
    text-align: center;
    padding: 42px;
    margin: 92px 0px 32px 0px;
    border-radius: 40px;
}

.healthy-drinks h2,
p,
h3 {
    font-family: "Poppins", sans-serif;
}

.healthy-drinks h2 {
    font-weight: 500;
    font-size: 64px;
}

.healthy-drinks #digit {
    font-family: "Bungee", sans-serif;
    font-size: 128px;
    color: #C42B38;
    margin-top: 16px;
}

.arrow {
    display: none;
}

.healthy-drinks p {
    font-size: 1rem;
    font-weight: 200;
    margin-top: 52px;
    margin-bottom: 8px;
    color: #723622;
}

.healthy-drinks h3 {
    color: #723622;
    font-size: 2rem;
    font-weight: 400;
}

.special {
    text-align: center;
    padding: 24px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-bottom: 32px;
}

.selling-point h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.88rem;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 7px;
    margin-top: 52px;
}

.selling-point h2 span {
    color: #C42B38;
}

.selling-point #selling-img {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.selling-point .selling-content {
    text-align: left;
}

.selling-point .selling-content h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
}

.selling-point .selling-content h3 span {
    color: #C42B38;
}

.selling-point .selling-content p {
    line-height: 25px;
    letter-spacing: 2px;
    margin-bottom: 32px;
    padding-right: 30px;
}

.bottom-hero-text {
    display: none;
}

.bottom-hero img {
    margin-top: 84px;
    width: 100%;
}

.hero-bottom-desk {
    display: none;
}

.summer-img-desk {
    display: none;
}

.promo-summer h2 {
    text-align: center;
    padding: 0 80px;
    font-family: "Poppins", sans-serif;
    font-size: 1.88rem;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 4px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.promo-summer h2 span {
    color: #C42B38;
}

.promo-summer-img {
    text-align: center;
    margin-bottom: 32px;
}

.promo-summer .second-head {
    font-family: "Bungee", sans-serif;
}

.promo-btn {
    background-color: #C42B38;
    text-align: center;
    padding: 22px 44px;
    margin: 0 44px 84px 44px;
}

.promo-btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

#video-desk {
    display: none;
}

.promo-vid {
    margin-bottom: 84px;
}

#footer-b {
    background-color: #C42B38;
    margin: 0 48px;
    padding: 32px;
    border-radius: 20px 20px 0 0;
}

.footer-nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;

}

.footer-nav ul li:not(:last-child) {
    margin-bottom: 16px;
}

.footer-nav ul li a {
    color: #FFFFFF;
    font-weight: 200;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 3px;
}

.social-media-list {
    list-style: none;
    margin-top: 64px;
    padding: 0;
}

.social-media-list li {
    display: inline-block;
    margin: 0 auto;
}

.social-media-list li:not(:last-child) {
    margin-right: 60px;
}

#desktop-foot {
    display: none;
}


/* PRODUCTS-PAGE */

#product-heading {
    margin-bottom: 24px;
}

#products-main-btn {
    background-color: #C42B38;
    text-align: center;
    padding: 20px 20px;
    width: 164px;
    color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
 }

#product-img {
    display: block;
    text-align: center;
    margin-top: 94px;
}

#ingredients h2 {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 16px;
    text-align: left;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
}

#ingredients .ingredients-select select {
    display: block;
    width: 100%;
    padding: 32px 64px 32px 32px;
    border-radius: 10px;
}

#ingredients .ingredients-select select:not(:last-child) {
    margin-bottom: 24px;
}

#desk-img {
    display: none;
}

.drink-selection h2 {
    margin-top: 62px;
    text-align: center;
    font-size: 48px;
}

.product-card {
    width: 100%;
    padding: 42px;
    border: 1px solid #000000;
    border-radius: 40px;
    margin-top: 60px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 16px;
}

.product-card h3 {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 2rem;
}

.product-card p {
    width: 80%;
    font-size: 1.5rem;
    font-weight: 200;
}

.product-card .product-btn {
    width: 100%;
    background-color: #C42B38;
    padding: 24px;
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
    margin-top: 16px;
}

#last-selection {
    margin-bottom: 108px;
}

/* CONTACT PAGE */

.contact-header h2 {
    margin-top: 100px;
    margin-bottom: 64px;
    padding-left: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

#contact-img img {
    width: 100%;
    margin: 0;
}

.form-bg {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 64px;
    border-radius: 20px;
    box-shadow: 0px 4px 28px -3px rgba(122,122,122,1);
}

#form-place {
    padding: 24px;
}

#form-place form input {
    width: 100%;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 1px solid #000000;
}

#form-place form textarea {
    width: 100%;
    height: 178px;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #000000;
}

#form-button {
    float: right;
    background-color: #C42B38;
    text-align: center;
    width: 170px;
    padding: 10px 32px;
    color: white;
    margin-top: 16px;
}

#desktop-contact-img {
    display: none;
}

/* ---Desktop Library Grid Styles--- */

@media screen and (min-width: 1200px) {

    header {
        background-color: #F5F5F5;
    }

    .logo-mob {
        display: none;
    }

    .logo-desk {
        display: block;
    }

    #burger {
        display: none;
    }

    .m-hidden {
        display: flex;
    }

    .header-nav-ul {
        flex-direction: row;
        height: auto;
        width: auto;
        background-color: transparent;
        padding: 0;
        transform: translateY(0);
    }

    .header-nav-ul li {
        /* margin: auto 25px; */
        padding: 24px 42px 82px 0;
        transition: background-color .15s ease-out;
        list-style: none;
    }


    .header-nav-ul li a {
        color: #C42B38;
        font-size: 20px;
        text-decoration: none;
    }


    #main-img {
        display: none;
    }

    .hero p {
        position: relative;
    }

    .desk-hero {
        display: block;
    }

    .hero h2 {
        box-sizing: border-box;
        text-align: left;
        font-size: 42px;
        line-height: 58px;
        letter-spacing: 2.63px;
        margin-top: 142px; 
        margin-bottom: 0;
        height: 158px;
    }

    #desk-main {
        border: 0px solid #000000;
        border-radius: 20px;
        box-shadow: 0px 4px 28px -3px rgba(122,122,122,1);
    }

    #desk-main .button {
        position: absolute;
        right: 0;
        top: 480px;
        right: 310px;
    }

    .desk-hidden {
        display: block;
        margin-top: 92px;
        height: 460px;
    }

    .special {
        margin-top: -120px;
    }
    

    .selling-point {
        position: relative;
        padding-bottom: 160px;
    }

    .selling-content {
        position: absolute;
    }

    .arrow {
        display: block;
        position: absolute;
    }

    #arrow-one {
        top: 240px;
        right: 40px;
    }

    #arrow-two {
        top: 240px;
        left: 40px;
    }

    #arrow-three {
        top: 500px;
        left: 40px;
    }

    #friendly {
        top: 230px;
    }

    #Jamaica {
        top: 200px;
    }

    #relationship {
        top: 500px;
    }

    .bottom-hero {
        position: relative;
        margin-top: 200px;
    }

    .bottom-hero-text {
        display: block;
        position: absolute;
        top: 200px;
        left: 250px;
    }

    .bottom-hero-text h2 {
        font-size: 4rem;
    }

    .bottom-hero-text .button {
        width: 300px;
        margin: 24px 0 0 0;
    }

    .bottom-hero img {
        display: none;
    }

    .bottom-hero .hero-bottom-desk {
        display: block;
        width: 100%;
    }

    .promo-summer {
        margin-top: 84px;
    }

    .promo-summer h2 {
        text-align: left;
        padding: 0;
    }

    #summer-img-mob {
        display: none;
    }

    .summer-img-desk {
        display: block;
    }

    .second-head {
        display: none;
    }

    .promo-btn {
        display: none;
    }

    .promo-vid {
        display: none;
    }

    #video-desk {
        display: block;
        position: relative;
        margin-top: 84px;
        margin-bottom: 84px;
    }

    .vid-desk video {
        height: 488px;
        width: 694px;
        object-fit: cover;
        border-radius: 14px;
    }

    .vid-desk h2 {
        text-align: right;
        font-size: 3.9rem;
    }

    #video-btn {
        background-color: #C42B38;
        position: absolute;
        top: 380px;
        right: 160px;
        padding: 20px 80px;
        border-radius: 10px;
    }

    #video-btn a {
        text-decoration: none;
        color: #ffffff;
    }

    #footer-b {
        display: none;
    }

    #desktop-foot {
        display: block;
    }

    .footer-des {
        background-color: #C42B38;
        border-radius: 20px;
        padding: 24px;
    }

    .desk-nav ul li {
        list-style: none;
        margin-bottom: 10px;
    }

    .desk-nav ul li a {
        font-weight: 200;
        text-decoration: none;
        color: #FFFFFF;
    }

    #desktop-foot .footer-icon {
        text-align: center;
    }

    /* PRODUCTS PAGE  */
/* 
    #desk-main h2 {
        font-size: 4.5rem;
        line-height: 100px;
    } */

    #product-heading {
        font-size: 70px;
        line-height: 100px;
    }

     #products-main-btn {
        width: 232px;
        position: absolute;
        background-color: #C42B38;
        padding: 20px 64px;
        right: 320px;
        top: 540px;
        color: #ffffff;
        border-radius: 10px;
     }

     #mobile-img {
        display: none;
     }

     #desk-img {
        display: block;
    }

    #ingredients {
        position: relative;
    }
    
    #ingredients h2 {
        font-size: 4rem;
        font-weight: 500;
    }

    .ingredients-select {
        position: absolute;
        width: 100%;
        top: 300px;
        right: -10px;
    }

    .product-card:not(:nth-child(1)) {
        margin-bottom: 108px;
    }

    /* CONTACT PAGE */
    #contact-img {
        display: none;
    }

    .form-bg {
        background-color: #ffffff;
        float: right;
        width: 100%;
        margin-bottom: 64px;
        border-radius: 20px;
        box-shadow: 0px 4px 28px -3px rgba(122,122,122,1);
    }

    #form-place {
        padding: 24px;
        margin-top: 150px;
        margin-left: 100px;
    }
    
    #form-place form input {
        width: 100%;
        padding: 24px;
        margin-bottom: 24px;
        border-radius: 10px;
        border: 1px solid #000000;
    }
    
    #form-place form textarea {
        width: 100%;
        height: 178px;
        padding: 24px;
        border-radius: 10px;
        border: 1px solid #000000;
    }
    
    #form-button {
        float: right;
        background-color: #C42B38;
        text-align: center;
        width: 170px;
        padding: 10px 32px;
        color: white;
        margin-top: 16px;
    }


    #desktop-contact-img {
        display: block;
        height: 571px;
        object-fit: cover;
    }

    #desktop-contact-img img {

        width: 100%;
        
    }
    
}







