.hidden {
    display: none;
}

/*---General Styles---*/

/* General Body Styles */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #C13436;
    color: #000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

/* Header Navigation Styles */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #C13436;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul li a {
    text-decoration: none;
    color: #000;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img, .logo svg {
    max-width: 40px;
    height: auto;
    margin-right: 5px;
}

.logo-text {
    font-size: 1.5em;
    font-weight: bold;
    color: #FFF;
}

/* Hero Section Styles */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px;
    background-color: #FFF;
}

.hero-text h1 {
    font-size: 2em;
    font-weight: bold;
    color: #B45334;
}

.shop-now {
    background-color: #B45334;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Info Grid Section Styles */

.info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #C13436;
}

.info-item {
    background-color: #FFF;
    padding: 20px;
    text-align: center;
}

.info-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 1em;
    color: #000;
}

h2 span {
    font-size: 2.5em;
    color: #B45334;
}
